a {
  color: white;
}
a:visited {
 text-decoration: none;
 color: white;
}
body {background-color:	#1E1E1E;}
body {color:	#FFFFFF;}
h1,h2{color:#1E90FF}
hr{border-style:hidden;}

body{
  font-family: Arial, Helvetica, sans-serif;
